.baseinput-container {
    display: flex;
    flex-direction: column;
}

.baselabel {
    color: #124B35;
    font-size: 14px;
}

.baseinput {
    border-radius: 2px;
    border: 1px solid #124B35;
    padding: 10px;
    outline-color: #c69214;
}

.baseinput-error {
    border-radius: 2px;
    border: 2px solid #ff2d2d;
    padding: 10px;
    outline-color: #c69214;
}