.data-container {
    /* background-color: white; */
    width: calc(100% - 400px - 80px);
    height: calc(100vh - 80px);
    margin: 40px;
    text-align: center;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

@media (min-width: 801px){

}

@media (max-width: 800px) {
    .data-container {
        width: 100%;
    }
}