.editnotifs-container {
    position: absolute;
    height: 100vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.editnotifs-container h1 {
    font-size: 35px;
    margin: 16px auto 10px auto;
}

.editnotifs-container h3 {
    text-align: center;
    width: 80%;
    font-size: 19px;
    margin: 0px auto 10px auto;
}

@media (max-width: 800px) {
    .editnotifs-container {
        width: 100%;
    }

    .editnotifs-container h3 {
        font-size: 17px;
        width: 70%;
    }
}