.confirmation-text {
    color: #124B35;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    margin: 40px 30px 20px 30px;
}

.return-button {
    width: min-content;
    margin: 30px auto 40px auto;
}

@media (max-width: 800px) {
    .confirmation-text {
        color: #124B35;
        font-size: 26px;
        line-height: 28px;
        text-align: center;
        margin: 40px 30px 20px 30px;
    }
}