.landingpage-container {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
}

.temp{
    /* background-color: white; */
    width: calc(100% - 400px - 80px);
    height: 50%;
    margin: 40px;
    text-align: center;
    font-size: xx-large;
}