.login-page-container {
    height: 100vh;
    width: 100vw;
    background-color: #dddddb;
}

.login-container {
    background-color: white;
    width: 500px;
    -webkit-box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.42); 
    box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.42);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 801px){
    .login-container::after {
        background-color: #c69214;
        content: '';
        position: absolute;
        width: 100%;
        height: 10px;
        left: 50%;
        top: 0%;
        transform: translate(-50%, 0);
    }
}

.login-container img {
    width: 400px;
    position: relative;
    margin: 40px 0 0 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.login-container h1 {
    font-weight: bold;
    color: #124B35;
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 45px;
}

.login-button {
    width: min-content;
    margin: 30px auto 10px auto;
}

.register-button {
    width: min-content;
    margin: 0 auto 30px auto;
}

.login-input {
    width: min-content;
    margin: 10px auto;
}

.forgot-pass {
    color: #124B35;
    text-decoration: none;
    font-size: 14px;
    margin-left: 75px;
}

.forgot-pass:hover {
    text-decoration: underline;
}

.new-user {
    margin: 60px 0 0 75px;
    color: #124B35;
    font-size: 14px;
}

.new-user::after {
    background-color: #124B35;
    content: '';
    position: absolute;
    width: 90%;
    height: 1px;
    left: 50%;
    bottom: 98px;
    transform: translate(-50%, 0);
}

@media (max-width: 800px) {
    .login-page-container {
        background-color: white;
    }

    .login-container {
        width: 100%;
        -webkit-box-shadow: none; 
        box-shadow: none;
    }

    .login-container img {
        width: 320px;
    }

    .login-container h1 {
        font-size: 30px;
    }

    .forgot-pass {
        margin-left: 30px;
    }

    .new-user::after {
        width: 90%;
    }
}